**Function - Basics**

In [ ]:
# input, logic, output

In [1]:
print("Hello Aditya!")

Hello Aditya!

**1. Defining a Function**

In [3]:
def hello():
  print("Hello World!")

**2. Calling a Function**

In [4]:
hello()

Hello World!

In [ ]:
# input - inside braces - no
# logic - print
# output - Hello World

**3. Function with parameters/Params**

In [5]:
def hello(name):
  print(f"Hello {name}!")

In [6]:
hello("Aditya")

Hello Aditya!

**F Strings -  to pass dynamic values in a string**

In [7]:
country = "India"
capital = "New Delhi"
print(f"{capital} is the capital city of {country}")

New Delhi is the capital city of India

# two numbers = add them

In [12]:
def add_numbers(x,y):
  print(x+y)

In [13]:
add_numbers(10,20)

30

In [14]:
v = add_numbers(5,6)

11

In [15]:
v # does not return anything

In [16]:
# to return a value for v perform this

**4. Function with Return Value**

In [17]:
def add_numbers(x,y):
  return x+y

In [18]:
v = add_numbers(5,6)

In [19]:
v

11

**5. Default Params**

In [20]:
def hello(name = "Guest"):
  print(f"Hello {name}!")

In [21]:
hello()

Hello Guest!

In [22]:
hello("Raju")

Hello Raju!

**6. Keyword Arguments - the parameters within the function**

In [23]:
# two numbers = add them
def add_numbers(x=10, y=10):
  return x+y

In [24]:
add_numbers()

20

**7. Scope and Global Variables**

In [29]:
def test(x=10):
  print(x)

In [30]:
test()

10

In [31]:
test(11)

11

In [34]:
# global var = defined outside the function

x =100
def test(y):
  global x
  print(x,y)
test(10)

100 10

In [35]:
 n = 23

 def test(n):
  n = 21
  print(n)

In [36]:
test(19)

21

**8. Nested Functions**

In [37]:
def hello(name):
  print(f"Hello {name}")

In [38]:
def fav_city(city_name, name):
  hello(name)
  print(f"Welcome to {city_name}!")

In [39]:
fav_city("Mumbai","Aditya")

Hello Aditya
Welcome to Mumbai!