**Creating a Dictionary**

In [1]:
student = {}

In [2]:
# List - []
# Dict - {}

In [3]:
# name,age,gender
student = {"name":"Raju","age":27,"gender":"Male","qualified":False}

# key-value pairs - 3
# key & values are linked using :

In [4]:
print(student)

{'name': 'Raju', 'age': 27, 'gender': 'Male', 'qualified': False}

**2. Accessing values**

In [5]:
student["age"]

27

In [6]:
student["name"]

'Raju'

In [8]:
student["name"] = "David"
student["age"] = 26

In [9]:
student

{'name': 'David', 'age': 26, 'gender': 'Male', 'qualified': False}

**3. Looping through a dictionary**

In [10]:
student

{'name': 'David', 'age': 26, 'gender': 'Male', 'qualified': False}

In [11]:
for key in student:
  print(key)

name
age
gender
qualified

In [12]:
for value in student.values():
  print(value)

David
26
Male
False

In [13]:
for k,v in student.items():
  print(k,v)

name David
age 26
gender Male
qualified False

In [14]:
# to check if the name is actually a key in the dictionary

for k in student:
  if k == "name":
    print("Found the key")

Found the key

In [16]:
if "name" in student:
  print(True)
else:
  print(False)

True

In [17]:
if "hobby" in student:
  print(True)
else:
  print(False)

False