In [12]:
# List [,]
# Dict {key:value}
# Tuple (,)
# Set{,}

**Creating a Tuple**

In [2]:
my_tuple = (1,2,3)

In [3]:
my_tuple

(1, 2, 3)

**Accessing Tuple Elements**

In [4]:
my_tuple[2]

3

**Tuple Operations**

In [5]:
tp1 = (1,2,3)
tp2 = ("a","b","c")

In [6]:
tp1 * 10

(1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3)

**Tuple Unpacking**

In [7]:
tp1 = (1,2,3)

In [8]:
a,b,c = (10,20,30)

In [9]:
b

20

**List vs Tuple**

In [ ]:
# List - mutable (add,remove,modify ...)
# Tuple - Immutable (can't add,can't remove,..)

# List - memory high
# Tuple - memory low

**Sets**

In [11]:
lst1 =[1,1,2]

In [13]:
# unique values in a list
set(lst1)

{1, 2}

In [14]:
s1 = {1,2,3}

In [15]:
s2 = {2,3,4}

**Set Operations**

In [16]:
s1.union(s2)

{1, 2, 3, 4}

In [17]:
s1.intersection(s2)

{2, 3}

In [18]:
s1.difference(s2)

{1}

In [19]:
s2.difference(s1)

{4}